@charset "UFT-8";

@font-face {
    font-family: 'Titulo';
    src: url('../fonts/PassionOne-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Texto';
    src: url('../fonts/Sriracha-Regular.ttf') format('truetype');
    font-weight: normal;
}

:root {
    --fonte-titulo: 'Titulo', cursive;
    --fonte-texto: 'Texto', cursive;
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fundo-imagem: rgba(2, 2, 2, 0.358);
}

* {
    margin: 0px;
    padding: 0px;
}  

body, html {
    min-height: 100vh;
    font-family: var(--fonte-padrao);
}



header {
    background-color: black;
    padding: 30px;
    text-align: center;
}

header h1 {
    font-family: var(--fonte-titulo);
    padding: 10px;
    font-size: 10vw;
    font-weight: 400;
    color: white;
    font-variant: small-caps;
}

header p {
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 20px;
}

section p {
    font-family: var(--fonte-texto);
    font-size: 4vw;
    font-weight: 100;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

.simples{
    background-color: white;
}

.simples p {
    padding-bottom: 1em;
}

.imagem {
    background-attachment:fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px black;
    color: white;
}

.imagem p {
    background-color: var(--fundo-imagem);
    display: inline-block;
}

#img001 {
    background-image: url('../img/background001.jpg');
    background-position: center right;
}

#img002 {
    background-image: url('../img/background002.jpg');
    background-position: center right;
}


